.ant-card-head {
    background: #198a52; // Change the background color of the tab header
  }
  
  .ant-card-tab {
    color: #fff; // Change the text color of the tabs
    font-weight: bold;
  }
  
  .ant-card-tab-active {
    background-color: #4a69bb; // Change the background color of the active tab
  }
  
  .ant-card-bordered {
    border: 1px solid #6d84b4; // Change the border color of the card
  }
  