.notification-top {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  min-height: 100vh;

}

.notification-page {
  margin-top: 60px; /* Add space below the navbar */
  width: 100%;
  max-width: 900px; /* Control the width of the notifications list */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-list {
  display: flex;
  flex-direction: column;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.notification-item.unread {
  background-color: #e0f7fa;
  border-left-color: #00796b;
}

.notification-item.read {
  background-color: #f9f9f9;
}

.notification-item:hover {
  background-color: #e0f2f1;
}

.notification-info {
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
}

.notification-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.notification-time {
  font-size: 0.8em;
  color: #999;
}

.unread-indicator {
  width: 10px;
  height: 10px;
  background-color: #ff1744;
  border-radius: 50%;
}
