.detailsBanner {
  width: 100%;
  background-color: var(--black);
  // padding-top: 100px;
}
.title {
  color: white;
  margin-top: 0px; /* Optional: Adjust as needed */
}

.title h1 {
  font-size: 28px; /* Reduced font size */
  margin: 0; /* Remove default margin */
}



.content {
  display: flex;
  position: relative;
  // flex-direction: column;
  gap: 25px;
 
  overflow: hidden;

  .left {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: fit-content;

    .posterImg {
      width: 1200px;
      display: block;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .right {
    width: 480px; /* Fixed width */
    height: 100%; /* Full height of the viewport */
    overflow-y: auto; /* Allow scrolling if content overflows */
    background-color: #1c1c1c; /* Dark background for a DeviantArt-like appearance */
    padding: 18px; /* Add padding for spacing */
    box-sizing: border-box;
    position: fixed; /* Fixed position relative to the viewport */
    top: 0; /* Align to the top of the viewport */
    right: 0; /* Align to the right of the viewport */
    color: #e0e0e0; /* Light text color for contrast against dark background */
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  }
  
  .row-layout {
    margin-top: 40px;
    flex-direction: row; /* Arrange items in a row */
  }
  
  .column-layout {
    flex-direction: column; /* Arrange items in a column */
  }
  
  .project-item {
    position: relative;
    margin: 10px; /* Space between items */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure content stays within boundaries */
    width: calc(50% - 20px); /* Adjust width for row layout */
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    /* For column layout, you can adjust the width as needed */
  }

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow effect on hover */
}

  
  .project-image {
    width: 100%; /* Full width of the container */
    height: 150px; /* Adjust height as needed */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    border-radius: 8px 8px 0 0; /* Rounded top corners */
  }
  
  .project-content {
    position: absolute; /* Position content over the image */
    top: 0; /* Align content to the top */
    left: 0; /* Align content to the left */
    right: 0; /* Align content to the right */
    bottom: 0; /* Align content to the bottom */
    background-color: rgba(0, 0, 0, 0.3 ); /* Semi-transparent background for better visibility */
    color: #fffcfc; /* Lighter text color for visibility */
    display: flex;
    flex-direction: column;
    justify-content: start; /* Center content vertically */
    align-items: start; /* Center content horizontally */
    opacity: 0; /* Hide content by default */
    transition: opacity 0.3s ease; /* Smooth transition effect */
    padding: 10px; /* Add padding for content */
    text-align: start; /* Center text within content */
  }
  
  .project-item:hover .project-content {
    opacity: 1; /* Show content on hover */
  }
  
  
  .project-content h4 {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5; 
    color: white;
    font-weight: 600;
    // transition: transform 0.3s ease; 
  }
  
  .project-content p {
    margin: 0;
    font-size: 15px;
  }
}   .avatarContainer2 {
  position: absolute;
  bottom: 10px; /* Position it near the bottom */
  left: 10px;   /* Position it near the left */
  display: flex;
  align-items: center;
  // transition: transform 0.3s ease; 
}
// .project-item:hover .avatarContainer2 {
//   transform: scale(1.05); /* Slight zoom in on hover */
// }
.profileIcon2 img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px; /* Add space between the image and the text */
}

.profileIcon2 span {
  color: white;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.iconsContainer2 {
  position: absolute;
  bottom: 10px;
  right: 10px; /* Align icons to the bottom right */
  display: flex;
   flex-direction: column;
  gap: 6px;
  // transform: scale(1.05);

  .icons2 {
  

    margin-left: 120px;
   
    .icon {
      color: #fff;
      font-size: 14px;
    }
  }
}
// style.scss

@keyframes scrollUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// .project-item:hover .iconsContainer2 {
//   transform: scale(1.05); /* Slight zoom in on hover */
// }





.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .likeButton,
  .wishlistButton {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 15px;

    svg {
      margin-right: 5px;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.created {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  span {
    color: #999;
  }
}

.cardContainer {
  margin-top: 20px;
}

.addProjectCard {
  width: 50px;
  height: 50px;
}

.addIconButton {
  font-size: 24px;
}

.tags {
  background-color: var(--pink);
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  width: 60px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  opacity: 0.8; /* Initial opacity to make it semi-transparent */
}

.tags:hover {
  background-color: rgba(var(--pink-rgb), 0.9); /* Hover background with increased opacity */
  cursor: pointer; /* Pointer cursor on hover */
}



@media only screen and (min-width: 768px) {
  .detailsBanner .content .left .posterImg {
    max-width: 600px;
  }
}

.User-Profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;

  .avatar-container {
    margin-right: 20px;
    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 3px solid white;
    }
  }

  .user-details {
    .username {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .user-description {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .user-stats {
      display: flex;
      margin-bottom: 10px;

      .stat {
        margin-right: 20px;
        text-align: center;

        h4 {
          font-size: 14px;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .edit-profile-btn {
      padding: 10px 20px;
      background-color: orangered; // Fiverr's primary green color
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #19a163; // Darker green on hover
      }
    }
  }
}

// swiperStyles.scss
.mySwiper {
  width: 850px; // Adjust width as needed
  height: 520px; // Decrease height as needed for main Swiper container
  overflow: auto;
  margin-left: 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      width: 100%; // Ensure each slide has a fixed width
      height: 100%; // Ensure each slide has a fixed height
      

    

    .TitleImg {
      // top: 100px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      
    }
  }

  

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {

  color: #fff; /* Set the color of the navigation arrows */
}

/* Additional styling if you want the buttons to be more prominent */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 35px; /* Adjust the arrow icon size */
}

.swiper-button-next {
  right: 10px; /* Adjust position from the right */
}


}

.mySwiper-thumbs {
  height: 85px; /* Try setting a fixed height */

  box-sizing: border-box;
  margin-top: 10px; /* Adjust this as needed */
  // overflow: visible;
  margin-left: 50px;
}



/* More specific styles for the active thumbnail */
.mySwiper-thumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1 !important; /* Force full visibility for the active thumbnail */
  border: 2px solid #fff; /* Add a border to the active thumbnail */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Add a shadow for highlight */
  transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Styles for non-active thumbnails */
.mySwiper-thumbs .swiper-slide {
  opacity: 0.7; /* Darken the non-active thumbnails */
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}


.mySwiper-thumbs .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the slide */
}


.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin-right: 10px;
  cursor: pointer;
  gap:10px
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.icon {
  font-size: 18px;
}

.iconBox:hover .icon {
  color: #1dbf73;
}

// breadcrumb.scss
.enhanced-breadcrumbs {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #62646a;

  .breadcrumb-link {
    display: flex;
    align-items: center;
    color: #95979d;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #1dbf73;
    }

    &::after {
      content: '>';
      margin: 0 8px;
      color: #b0b1b4;
    }

    .breadcrumb-icon {
      margin-right: 4px;
    }
  }

  .breadcrumb-current {
    color: #62646a;
    font-weight: 700;
  }

  .breadcrumb-link:last-of-type::after {
    content: '';
  }

  .chip-container {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 4px;
    background-color: #f5f5f5;
    border-radius: 16px;

    .chip {
      margin-right: 4px;
      background-color: #007bff;
      color: white;
      font-size: 12px;
      height: 24px;
      padding: 0 8px;
      border-radius: 12px;
    }
  }
}

.sendToTheatreButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #19a163;
  }
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  
}

.menuItem {
  display: flex;
  align-items: center;
}

.badge {
  background-color: orange;
  color: #333;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 5px;
}

.iconBox {
  cursor: pointer;
}

.icon {
  font-size: 15px;
  color: #555454;
  cursor: pointer;
}

.avatarImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.description1 {
  color: rgb(219, 218, 218);

  font-size: 17px;
  width: 70%;
  letter-spacing: 0.6px;

  .Description-Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

